*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-conatiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.25rem dashed grey;
}

.header-logo-title-text-container {
  display: flex;
}

.header-title {
  font-family: "Yellowtail", cursive;
}

.icon-container {
  display: flex;
  justify-content: space-between;
}

.icon-social-container {
  margin-right: 1rem;
}

.header-text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
}

.logo {
  margin-right: 0.5rem;
}

.blog-body-container {
  margin: 2rem;
}

.blog-printIcon-label {
  display: flex;
  align-items: center;
}
.blog-text-image-conatiner {
  display: flex;
  justify-content: space-between;
}
.blog-printer-logo {
  margin-right: 0.25rem;
}
.blog-text {
  font-size: 0.5em;
  color: grey;
}

.blog-icon-label {
  font-size: 0.5rem;
  color: grey;
}

.blog-hero-image-container {
  margin: 2rem;
  width: 45.75rem;
  height: 3rem;
}

.hero-image {
  max-width: 100%;
}

.ingredient-container {
  padding: 3rem;
  background-image: url("./Assets/list-bg.png");
  display: flex;
  justify-content: space-between;
}

.ingredient-first-items {
  display: flex;
  flex-direction: column;
}
